  
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>

    <div class="container">
        <h3 class="my-5">Welcome to <%= heading %></h3><br>
    </div>
    <div class="container">
        <a href="/app/login"><button type="button" class="btn btn-info">Login</button></a>
    </div>

</body>
<%- include('partials/script'); -%>

</html>