
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>

    <div class="container">
        <h3 class="my-5"><%= heading %><%= user %></h3><br>
    </div>
    <div class="container">
        <a href="/app/logout"><button type="button" class="btn btn-info">Logout</button></a>
    </div>

</body>
<%- include('partials/script'); -%>

</html>